.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 ;
    padding:0;
    width: 100%;
    transition: 0.3s ease-in-out;
    position: fixed;
    z-index: 100;
    background-color: black;
    
}

.brand {
    font-size:2rem;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    margin:0.5% 3%;
    
}

.links{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin:0.5% 10%;
    padding: 2%;
}

.links ul{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    
    margin: 0% 4%;
}
.links ul li{
    
    list-style: none;
    margin: 0% 5%;
   

}
.links ul li a{
    text-decoration: none;
    font-size:1.3rem;
    padding:2% 5%;
    color: white;
}
.menu,.close-menu{
    display: none;
    font-size:1.7rem;
    margin: 0;  
    cursor: pointer;
    
}

.nav-bar-expand{
    display: flex;
    align-items: center;
    transition: height 0.3 ease;
    flex-direction: column;
    background-color: #25CAAC;
    position:absolute;
    top:0;
    right: 0;
    height:100vh;
    width: 250px;
    overflow: hidden;
    
    
}
.nav-bar-expand li{
    list-style: none;
    margin: 4% 2%;
    padding: 20% 0;
}

.nav-bar-expand li a{
    padding: 8px 13px;
    text-decoration: none;
    font-size:1.2rem;
    color: black;
}

.nav-bar-expand li a:hover{
    background-color: black;
    color: #25CAAC;
    border-radius: 7px;
    transition: 0.3s ease;
    box-shadow: 0px 7px 20px #25CAAC;

}
.close{
    color:black;
    position: relative;
    right: 100px;
}
.close:hover{
    color: red;
}
@media (max-width:675px){

    .links ul{
        display: none;
    }

    .menu{
        display: block;
    }

    .navbar{
        width: 100%;
        background-color: black;
}
}

