.about{
    background-color:white
    ;

    margin-top: 5%;
    height: auto;
    padding: 3%;
    color:black;
}



.image{
    width: 30%;
}

.title {
    padding: 2%;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
}

.about-card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:10% 2%;

}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 275px;
    height: 300px;
    border-radius:50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Dark gray shadow */
    ;
    


}

.discrip{
    width:50%;
    text-align: left;
    padding: 2%;
    font-size: 20px;
    font-weight:475;
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Dark gray shadow */
    line-height:30px;
}







@media (max-width:750px){

    .about{
        height: auto;
    }

    .about-card{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding:10% 2%;
    

    }
    .image img{
        width: 220px;
        height: 250px;
        border-radius:50%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Dark gray shadow */
    
    }

    .discrip{
        width:80%;
        text-align: left;
        padding: 2%;
        font-size:18px;
        color:black;
        border-radius: 7px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Dark gray shadow */
        line-height:20px;
    }
    .about{
        height: auto;
    }

    .image{
        width: 70%;
        display: flex;
        
    }

}