.about{
    background-color:#010a1a;
    margin-top: 5%;
    height: 100vh;
    padding: 3%;
    color:white;
}



.image{
    width: 30%;
}

.title {
    padding: 2%;
    font-size: 1.7rem;
    font-weight: 500;
    text-align: center;
}

.card{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding:10% 2%;

}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.image img{
    width: 275px;
    height: 300px;
    border-radius:50%;
    box-shadow: 0px 4px 8px#011d3d;
    


}

.discrip{
    width:50%;
    text-align: left;
    padding: 2%;
    font-size: 20px;
    font-weight:475;
    border-radius: 7px;
    box-shadow: 0px 4px 8px#011d3d;
    line-height:30px;
}







@media (max-width:675px){

    .card{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        padding:10% 2%;
    

    }
    .image img{
        width: 220px;
        height: 250px;
        border-radius:50%;
        box-shadow: 0px 8px 10px black;
    
    }

    .discrip{
        width:80%;
        text-align: left;
        padding: 2%;
        font-size:18px;
        color:white;
        border-radius: 7px;
        box-shadow: 0px 4px 8px#011d3d;
        line-height:20px;
    }
    .about{
        height: auto;
    }

    .image{
        width: 70%;
        
    }

}