*{
  margin: 0;
  padding: 0;
}
body{
  color: white;
  background-color:#000;

}
html{
  scroll-behavior: smooth;
  transition: 0.5s ease;
}

.mypic{
  border-radius: 50%;
  height:300px;
  width:250px;
}
